
body {
    font-family: 'Nunito', sans-serif;
    border-color: #DDDDE4;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #DDDDE4;
}

.navbar-not-home {
    background-color: #222344;
}

.navbar2{
    margin-top: -10px !important;
}
.navbar{
    padding-top: 0 !important ;
    padding-bottom: -50px;
    height: 90px;
    
}
.navbar-nav .nav-item {
    display: flex;
    justify-content: center;
}

main {
    align-items: center;

}

.container-fluid {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    margin-right: 100px;
}

@media (max-width: 992px) {
    #navbar {
        flex-direction: column;
    }
    .navbar-brand {
        order: 2;
    }
    .navbar-toggler {
        order: 1;
    }
    #navbarNav {
        order: 3;
        width: 100%;
    }
}

.GraphicVerse {
    font-family: "Kollektif", sans-serif;
}

.nav-link {
    font-weight: bold;
    font-size: large;
    font-family: 'Roboto';
    color:#fff;
    text-decoration: none; /* Remove the default underline */
    position: relative; /* Position relative for pseudo-element */
    display: inline-block; /* Make the link inline-block to fit the underline to the text */
}
.nav-link2 {
    background-color: #499096;
    width: 150px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -15px;
    margin-right: 10px;
    align-items: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: large;
    font-family: 'Roboto';
    color:#fff;
    text-decoration: none; /* Remove the default underline */
    z-index: 2; /* Make nav-link2 appear in front */
    position: relative; /* z-index only works on positioned elements */
    align-items: center;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); /* Adjusted box-shadow */
    
}

.nav-link2.dropdown-toggle::after {
    display: none;
}


  
  .nav-link::after {
    content: ''; /* Create an empty pseudo-element */
    position: absolute;
    width: 100%;
    height: 2px; /* Height of the underline */
    bottom: 0; /* Position at the bottom of the link text */
    left: 0;
    background-color: #B129A2; /* Color of the underline */
    transform: scaleX(0); /* Initially set the width to zero */
    transform-origin: center; /* Transform origin at the center */
    transition: transform 0.3s ease-in-out; /* Add a transition effect */
  }
  
  .form-control {
    border-radius: 25px;
    height: 50px;
  }

  .test{
    padding-left: 50px;
    padding-right: 100px !important;
    
  }

  .search{
    background: rgba(255, 255, 255, 0.37);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border:none;
    padding-right: 25px;
  }
  .search::placeholder {
    color: #E6E7FD;
  }
  .nav-link:hover {
    color: #B129A2; /* Change the text color on hover */
  }

  .nav-link:hover::after {
    transform: scaleX(1); /* Expand the underline to full width on hover */
  }

.logo {
    height: 100px;
}

.nav-item2 {
    padding-left: 50px;
    padding-right: 50px;

}

.inner{
    display: flex;
    justify-content: center;
    align-items: center;

}


.custom-search-form {
    padding-top: 60px;
}
.custom-search-input {

height: 50px;
width: auto;
border-radius: 25px;
}

/* .custom-search-input:focus {
    border-color: #9799ff;
    box-shadow: 0 0 5px #9799ff;
    outline: none;
    
} */

a {
    font-family: "Roboto";
    
}
.row1{
    max-height: 90px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 100px;
    
}
.col{
    flex: 1;
}
.dropdown{
    position:relative;
}
.dropdown-button{
    background-color: #499096;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    height: 70px;
    width: 170px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    position:absolute;
    color: white;
}
.name{
    margin-right: 4px;
}
.credits{
    font-size: 12px;
    margin-top: -10px;
}
.dropdown-menu {
    position: relative; /* Change from absolute to relative */
    z-index: 1; 
    padding-top: 100px;
    margin-left: -25px;
    width: 200px !important;
    background-color: #F1F1F1;
    border-radius: 0 !important;
}

.dropdown-menu hr {
    width: 10%;
    justify-content: center;
    margin: auto;
    margin-bottom: 3px;
}

.dropdown-menu a {
    font-family: 'Roboto';
    font-weight: bold;
    color: #5F5F79;
}

.dropdown-menu p{
    font-family: 'Roboto';
    color: #5F5F79;
    font-weight: normal;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}
.dropdown-content {
    display: none;
    position: absolute; /* Keep this as absolute */
    
    min-width: 160px;
    width: 100px;
    max-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0; /* This should make the dropdown appear below the nav-item */
    left: 0;
}
.dropdown-item, .view{
    text-align: center;
    justify-content: center;
}

.view

.navbar-collapse {
    flex-grow: 0 !important;
}

/* .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    top: 100%;
} */

.nav-link2{
    padding-bottom: 10px;
}