

/* * {
    outline: 1px solid;
}  */

@media (max-width: 768px) {
    .my-element {
        background-size: contain;
    }
}

/* .container-fluid {
    background-color: #222344;
} */
body {
    font-family: 'Nunito', sans-serif;
    border-color: #DDDDE4;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-nav .nav-item {
    display: flex;
    margin-top: 10px;
}

main {
    align-items: center;

}
.navbar-light {
    color: white;
}

.GraphicVerse {
    font-family: "Kollektif", sans-serif;
}

nav {
    background-color: #222344;
}

.custom-search-form {
    height: 35px;
    width: 450px;
    border-radius: 10px;
    padding-left: 30px;
    padding: auto;
    position: relative;  
}

.custom-search-input {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

a {
    font-family: "Roboto";
    
}
.row{
    min-height: 52px;
}
.row1{
    max-height: 90px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left:55px;
    
}
.col{
    flex: 1;
}
.dropdown{
    position:relative;
}
.dropdown-button{
    background-color: #499096;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    height: 70px;
    width: 170px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    position:absolute;
    color: white;
}
.name{
    margin-right: 4px;
}
.credits{
    font-size: 12px;
    margin-top: -10px;
}
.dropdown-menu{
    position:absolute;
    width: 170px;
    border-radius: 5px;
    margin-top: -10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    
}


