.container-fluid {
    display: flex;
    justify-content: space-between;
    padding-right: 0 !important;
}

.sticky-column {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
    position: sticky;
    top: 0;
    background-color: #DDDDE4;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #989898; /* Adjust color as needed */

}

#toggleCategories {
    color: #989898 !important;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 30px;
    text-decoration: none;
}

hr form{
margin: 0 !important;
}
#categories {
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    max-height: 1000px; /* Adjust as needed */
}

#categories.hide {
    max-height: 0;
}

.filter_column h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #424382;
    font-size: 20px;
}

.form-check {
    margin-bottom: 10px;
}

.form-check-label {
    font-family: 'Roboto', sans-serif;
    color: #989898;
    font-size: 16px;
}

.searchbox {
    background-color: #ebebf1;
    border: 1px solid #989898;
    border-radius: 3px;
    padding-left: 4px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}



.scrollable-column {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
    background-color: white;
    top: 0;
    width: 100%;
    overflow-x: hidden;
}

.package_row {
    display: flex;
    flex-wrap: wrap;
}
.package_row h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #5F5F79;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.results-container {
    display: flex;
    /* justify-content: space-between; */
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.results-text {
    margin-bottom: 0;
}

.results-container button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #5F5F79;
}

.preview_card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 10px;
}

.card {
    width: 100%;
    border-radius: 0 !important;
    border: none !important;
}

.card img {
    border-radius: 5px;
    width: 100%;
    height: 230px; /* Adjust as needed */
    object-fit: cover; /* This will ensure the image scales to fit the card */
}

.card h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #5F5F79;
    font-size: 20px;
    margin-bottom: 0;
}

.card p {
    font-family: 'Roboto', sans-serif;
    color: #5F5F79;
    font-size: 16px;
    margin-bottom: 0;
}

.card a, .card a:hover {
    text-decoration: none !important; 
}

.card-body {
    padding: 0px !important;
    padding-top: 5px !important;
}