/* Add background image */
body {
  background-image: url("../svg/Register_background.gif");
  background-size: 80%;
  background-color: #04294F;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 25px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background:none;
  margin-right: 1500px; /* Adjust the value to set the space on the left */
  margin-bottom: 200px;
  border-radius: 15px;
  border:none;
  width: 500px;
  margin-top: 150px;
}

.card-header {
  font-family: 'Oswald', sans-serif;
  background:none;
  color: #FDFDFD;
  font-weight: bold;
  font-size: 30px;
  box-shadow: none;
  text-align: center;
  padding: 20px 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border:none;
}

.card-header img {
  max-height: 100px;
}

.card-body {
  padding: 30px;
  border-color: #FDFDFD;
  color:#FDFDFD;
  font-family:'Roboto'
}

.form-control {
  border-radius: 30px;
  border-color: #cfcfcf;
  border-left-color: #FDFDFD;
  margin-bottom: 10px;
  height: 40px;
  min-width: 300px !important;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none; 
}

.form-control:focus {
  border-color: #cfcfcf; 
  box-shadow: none; 

}

.form-control::selection {
  background-color: transparent; 
  border-left-color:none ;
}

.form-check-label {
  font-family: 'Roboto';
}

.form-check-row {
  display: flex;
  align-items: left;
  color:#FDFDFD
}

.form-check {
  position: relative;
  padding-left: 30px; /* Add space for the custom checkbox appearance */
  cursor: pointer;
  font-size: 16px;
}

.form-check-input::after {
  background-color: #b129a2;
}

.form-check-input:checked::after {
  background-color: #88207c; /* Change to the desired color when checkbox is checked */
}

.form-check-input:focus,
.form-check-input:active {
  box-shadow: none;
}

.form-check-row .form-check-input {
  margin-right: 1px;
  
}

.btn-link{
  color: #FDFDFD;
  font-family: 'Roboto';
  text-decoration: none;
  margin-bottom: 5px;
  margin-left: 130px;
}
.btn-link:hover{
  color:#b129a2;
  font-family: 'Roboto';
  text-decoration: none;
}

.btn2{
  color: #FDFDFD;
  font-family: 'Roboto';
  text-decoration: none;
  margin-left: 115px;
  margin-top: 10px;
}
.btn2:hover{
  color:#b129a2;
  font-family: 'Roboto';
  text-decoration: none;
}

.btn-primary {
  background-color: #b129a2;
  border: none;
  width: 310px;
  justify-content: center;
  margin-left: 70px;
  font-family: 'Roboto';
  border-radius: 60px;
}

.btn-primary:hover {
  background-color: #88207c;
}

.input-group-prepend {
  display: flex;
  margin-left: 20px;
  background:none;
}

.input-group-prepend .input-group-text {
  background:none;
  height: 40px;
  border-color: #FDFDFD;
  border-left-color: #cfcfcf;
  border-top-color: #cfcfcf;
  border-bottom-color: #cfcfcf;
  border-radius: 0%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-bottom: 10px;
}

.input-group-append .input-group-text {
  background-color: transparent;
  border: none;
}

.input-group-prepend,
.input-group-append {
  background:none;
  border-color: #FDFDFD;
}

@media (max-width: 576px) {
  .card {
    margin-left: 0;
  }
}

.form-group {
  position: relative;
}

.form-group .input-group-text {
  background:none;
  border-color:none;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.form-control {
  padding-left: 45px;
}

.form-control:focus {
  border:none;
  box-shadow: none;
}
