.col-md-8{
    background-color: #fff;
}
.model-card {
    background-color: #DDDDE4;
}

.card-body {
    background-color: #fff;
}

.img-fluid {
    margin-top: 75px;
    width: 1000px;
    height: 100%;
}

.info-card {
margin: 30px;
}

.user-team {
    font-family: 'Roboto';
    font-size: 25px;
    color:#9494AD;
}

.model-name {
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 40px;
    color:#5F5F79;
    margin-top: -10 !important;
}

.user-name {
    font-family: 'Roboto';
    font-size: 20px;
    color: #9494AD;
    margin-top: -10px;
}

.heart {
    font-size: 20px;
    color: #FF7272;
}

.dl {
    font-size: 20px;
    color: #5F5F79;
    padding-left: 50px;
}

.category {
    font-family: 'Roboto';
    background-color: #499096;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
}

hr {
    border: none; /* Remove the default border */
    height: 8px;
    color: #9494AD;
}

.buy-card {
    margin:5px;
    padding:10px;
    background-color: #DDDDE4;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center items */
    text-align: center; 
}

.bold-text {
    font-family: 'Roboto';
    font-weight: bold;
    margin: 0 !important;
    color: #9494AD;
}

.buy-info {
    
}

.buy-info{
    text-decoration: none !important;
    font-size: 18px;
}

.buy-btn {
    font-size: 30px;
    font-weight: bold;
    background-color: #499096;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    border: none;
    color: white;
    
}